Package: rbw
Version: 1.13.2
Architecture: amd64
Maintainer: e. alvarez <eax@alvar3z.com>
Installed-Size: 16084
Depends: libc6 (>= 2.39), libgcc-s1 (>= 4.2), pinentry
Section: utils
Priority: optional
Multi-Arch: foreign
Homepage: https://git.tozt.net/rbw
Description: unofficial Bitwarden CLI
 A Rust-based command-line interface (CLI) for interacting with Bitwarden.
